bin/*
sources/ProjectGroup*
sources/AutoBase.dproj.local
sources/AutoBaseTests.dproj.local
sources/AutoBase.dproj
sources/AutoBase.identcache
tests/unit/AutoBaseTests.dproj
tests/unit/AutoBaseTests.dproj.local
tests/unit/AutoBaseTests.identcache
tests/bin/*
sources/Profiling/*
sources/Profiling
sources/AutoBase_project.tvsconfig
